@charset "UTF-8";
html{background: #565656;}
body{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none; user-select:none;}
input{border: none;outline: none;-webkit-tap-highlight-color: #000000;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
button{outline: none;}

.box{
    position: relative;
    margin: 50px auto 0;
    /* overflow: hidden; */
    width: 1080px;
    height: 720px;
    background: #eee5cc;
    border: 6px dashed #000;
    box-shadow: 0 0 0 15px #eee5cc;
    border-radius: 10px;
}
/*两种小球制作*/
.ball{
    position: relative;
    width: 172px;
    height: 172px;
    margin:60px auto 0;
    /* transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg); */
    opacity:1
}
.redPart_box,.blackPart_box{
    height: 50%;
    overflow:hidden;
}
.redPart,.blackPart{
    position: relative;
    height: 172px;
    width: 172px;
    border-radius:50%
}
.redPart{background: #f45646;}
.blackPart{background: #333;top:-100%}
/* .redPart{background: #ff9b9b;}
.blackPart{background: #2aa1a7;top:-100%} */
.middlePart{
    position: absolute;
    left: 27px;
    top: 27px;
    width: 118px;
    height:118px;
    border-radius: 50%;
    background:#eec;
}
.ballZhuan1{
    animation-name:rotate;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
}
@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
         transform:rotate(360deg)
    }
}


.ball2{
    width: 0;
    height: 0;
    border-top:20px solid #f45646;
    border-bottom: 20px solid #333;
    border-left:20px solid #efa97a;
    border-right:20px solid #6dd3ce;
    border-width: 86px;
    position: absolute;
    top: calc(50% - 85px);
    left: calc(50% - 85px);
    opacity: 0;
    /* z-index: 10;
    transform:rotate(0deg); */
    border-radius: 50%;
}

/*小球发射*/
.launcher{
    position: absolute;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: #058;
}
.launT{left: 0;right: 0;top: -50px;}
.launB{left: 0;right: 0;bottom: -50px;}
.launL{top: 50%;margin-top: -25px;left: -50px}
.launR{top: 50%;margin-top: -25px;right: -50px}
.launchBall{
    position: absolute;
    width: 100%;
    height:100%;
    background:#f45646;
    border-radius: 50%;
}


/*成功击中扩散动画*/
.ball_middle{
    height: 75px;
    width:75px;
    border-radius: 50%;
    background: #333;
    opacity:0.5;
    position: absolute;
    top: calc(50% - 37px);
    left:calc(50% - 37px);
}

.game_fraction{
    width: 100%;
    height: 80px;
    top:50px;
    position: absolute;
    display: none;
}
.life{width: 60%;height: 100%;display: inline-block;line-height: 80px;text-indent: 10px;color:#f00;}
.fraction{width: 30%;height: 100%;text-align: center;line-height: 80px;float: right;margin-right: 10px;font-size: 30px;}
.fraction span{color:#333;}
.firworks{width: 4px;height: 4px;position: absolute;border-radius: 50%}
.over,.success{position: absolute;top:43%;font-size: 60px;opacity:0;z-index: 30;width: 100%;text-align: center;}
.arrow{height: 300px;width: 500px;position: absolute;top: calc(50% - 150px);left: calc(50% - 250px);}
.arrow span{font-size: 30px;color: #333;position: absolute;left: calc(50% - 145px);top: 150px;opacity: 0;height: 100px;width: 300px;text-align: center;}
 .img{height:80px;width: 30px;position: absolute;}



.button_box{
    position: absolute;
    left:0;
    right:0;
    bottom:45px;
    margin:0 auto;
    width: 380px;
    display: none;
    opacity: 0;
}
.button_left,.button_right{
    height: 46px;
    width: 150px;
    background:#333;
    border-radius:3px;
    font-size: 24px;
    color:#fff;
    cursor:pointer;
    border:none;
}
.button_left:hover,.button_right:hover{background: #f45646;}
.button_left{float:left;}
.button_right{float:right;}


/************************************游戏玩法***********************************/
.introTxtBtn{
    position: absolute;
    bottom: 34px;
    font-size: 20px;
    cursor:pointer;
    z-index: 1000;
    left: calc(50% - 50px);
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px
}
.introTxtBtn:hover{
    background: #333;
    color: #fff;
}
.introTxt{
    width: 500px;
    height: 530px;
    left: calc(50% - 250px);
    top: calc(50% - 300px);
    line-height: 40px;
    background: #fff;
    border-radius: 5px;
    display: none;
    z-index: 1001;
    position: absolute;
}
.sizeOne,.sizeTwo{
    position:relative;
    top: 10px;
}
.sizeOne{width: 40px;}
.sizeTwo{width: 80px;}
.introTxt div{margin:30px auto;width: 90%;font-size: 24px}
.introTxt p{display: inline-block;}



.hp_div{display: inline-block;width: 180px;height: 40px;border:1px solid red;vertical-align:middle;border-radius: 4px;}
.hp_div_main{height: 100%;width: 100%;background: red;border-radius: 3px;}


.game_mask{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(51,51,51,.5);
    font-size: 30px;
    color: #fff;
    z-index: 1;
}
.Mask_span{
    position: absolute;
    top:calc(50% - 100px);
    opacity: 1;
    width: 100%;
    text-align: center;
    line-height: 100px;
}
.Mask_span span{
    display: block;
}
.Mask_p {
    position: absolute;
    bottom: 150px;
    width: 100%;
    text-align: center;
    font-size:40px;
    color: #000;
    animation-name:opacity;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
}
@keyframes opacity{
    0%{
        opacity:0
    }
    50%{
        opacity: 1
    }
    100%{
        opacity:0
    }
}


/*playFour*/
.idx_pattern{
    overflow:auto;
    position: relative;
    margin: 0 auto;
    width: 90%;
    margin-top: 90px;
}
.playWrap{
    overflow: hidden;
    position: relative;
    float:left;
    width: 32%;
    height: 280px;
    background:#fff;
    color:#333;
    border-top: 30px solid;
}
.playWrap:nth-child(2){margin: 0 2%;}
.playWrap:hover{
    background: rgba(255,255,255,.7)
}
.playTit{
    /* width: 100%; */
    border-bottom: 1px solid #000;
    font-size: 24px;
    line-height: 50px;
    text-indent: 10px;
}
.playIntroduce{
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    margin: 0 auto;
    width: 94%;
}
.start{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width: 200px;
    height: 46px;
    background: #EE8E4E;
    color: #fff;
    outline: none;
    margin: 0 auto 20px;
    cursor: pointer;
    border: none;
}
.start:hover{background: rgba(51,51,51,1)}
